{% extends 'base.html' %}

{% block title %}
Delete User
{% endblock %}

{% block content %}
<h2>Delete a user</h2>
<div class="alert alert-success alert-dismissible fade show" style="display: none;" role="alert" id="success_message">
    <strong>User Deleted Successfully!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-success alert-dismissible fade show" style="display: none;" role="alert" id="error_message">
    <strong>Something went wrong. Please provide correct data and try again!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<br>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="table-plus">
                <tr>
                    <th class="table-plus">
                        Username
                    </th>
                    <th class="table-plus">
                        Email
                    </th>
                    <th class="table-plus">
                        <button type="button" class="btn">
                            <i class="icon-copy fa fa-minus-square" aria-hidden="true"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody class="table-plus">
                {% for user in users %}
                <tr id='row_{{user.id}}'>
                    <td class="table-plus">
                        {{user.username}}
                    </td>
                    <td class="table-plus">
                        {{user.email}}
                    </td>
                    <td class="table-plus">
                    {% ifnotequal user.id request.user.id %}
                        {% if not user.is_superuser %}
                            <button class="btn" type="button" onclick="delete_user('{{user.id}}')" id='{{user.id}}'>
                                <i class="icon-copy fa fa-trash" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                    {% endifnotequal %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block jQuery %}
<script>
function delete_user(user_id){
    row_id = 'row_'+user_id
    console.log(row_id);
    $("#success_message").css("display", "none");
    $("#error_message").css("display", "none");
    $.ajax({
        url : "{% url 'del_user' %}",
        type : "POST",
        data : { 
            id : user_id,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success : function(json) {
            $('#' + row_id).fadeOut('slow', function(){
                $('#' + row_id).remove();
            });
            console.log(json);
            console.log("success");
            $("#success_message").css("display", "block");
        },
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>");
            console.log(xhr.status + ": " + xhr.responseText);
            $("#error_message").css("display", "block");
        }
    });    
};
</script>
{% endblock %}