{% extends 'base.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>
            <center>
                Username: {{user}}
            </center>
        </h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h2>
            <center>You are Logged In</center>
        </h2>
        <br>
        <h4>
            <center>
                Carry on with your role.
            </center>
        </h4>
    </div>
</div>
{% endblock %}